body {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(0, 0, 0, 0.7);
  color: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

th,
td {
  padding: 12px 15px;
  text-align: left;
}

thead {
  background-color: #333;
  color: #ffffff;
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.5);
}

tr:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
